.menu-label {
	-fx-font-size: 20px;
	font-size: 20px;
}

.error-text {
	-fx-text-fill: red;
}

.top-3-scoreboard {
	-fx-background-color: gold;
	background-color: gold;
}

.HUD-text {
	-fx-font-size: 20px;
	font-size: 20px;
	-fx-padding: 10 10 10 10;
	padding: 10 10 10 10;
}

.score-text {
	-fx-font-size: 80px;
	font-size: 80px;
	-fx-text-fill: white;
}